@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

body {
    font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
}
/* 메인 페이지 */

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
}
.inner-hf {
  width: 940px;
  margin: 0 auto;
}
.inner {
  width: 830px;
  margin: 0 auto;
}
.header .header-logo {
  float: left;
}
.header .header-logo a {
  display: block;
  padding: 0 20px;
}
.header-menu {
  float: left;
}
.header-menu > li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
.header-menu-list {
  float: right;
}
.header-submenu {
  float: right;
  
}
.header-submenu li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
/* visual */
.visual {
  height: 700px;
  background: url(../images/main-01-desktop.jpg) no-repeat;
  background-size: cover;
}
.visual .reservation {
  padding: 120px 0;
  position: relative;
}
.reservation .btn-reservation {
  background-color: #055cf5;
  padding: 14px 0;
  position: absolute;
  bottom:0;
  left:0;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  width: 250px;
  text-align: center;
}
.reservation .visual-title {
  font-size: 6rem;
  line-height: 1.3;
}
.reservation .visual-txt {
  color:#fff;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
}
/* branding */
.branding {
  background-image: url(../images/main-2@2x.png);
  background-size: 40%;
  background-repeat: no-repeat;
  height:330px;
  background-position: bottom right;
  position: relative;
  margin: 60px auto;
  border-bottom: 1px solid #dadde2;
}
.branding .link{
  position: absolute;
  bottom:60%;
}
.branding .branding-title{
  font-size: 30px;
  font-weight:bold;
  line-height: 1.5;
}
/* main */
.main-helper, .main-move{
  display:inline-block;
  width:390px;
  height:300px;
  margin: 30px 10px;
}
.main-helper a{
  display:block;
  background: url(../images/main-3-1-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main-move a{
  display:block;
  background: url(../images/main-3-2-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main .sub-title {
  font-size: 2rem;
  font-weight: 500;
}
.main-cleaning, .main-living, .main-pet{
  display:inline-block;
  width: 30%;
  height: 160px;
  margin: 30px 10px;
}
.main-cleaning a{
  display:block;
  background: url(../images/main-3-3-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main-living a{
  display:block;
  background: url(../images/main-3-4-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main-pet a{
  display:block;
  background: url(../images/main-3-5-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 15px;
}
.main-serviceMore {
  position: relative;
  background-color: #eff7ff;
  padding: 20px 30px 20px 60px;
}
.main-serviceMore h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.main-serviceMore h3::before {
  content: "";
}
.main-serviceMore p {
  font-size: 1.4rem;
}
.main-serviceMore .link {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.6rem;
  font-weight: 500;
}
/* 브래든 철학 */
.belief .txt {
  font-size: 2rem;
  font-weight: 400;
}
.belief img {
  /* display:inline-block; */
  width: 410px;
  height: 300px;
  float: left;
  margin-right: 30px;
}
[class^="belief-"] {
  width: 100%;
  height: 380px;
  
}
.belief .title {
  font-size: 2rem;
  font-weight: bold;
}
.belief P {
  font-size: 1.7rem;
  font-weight: 400;
}
.belief .app-store a:nth-child(1) {
  display: inline-block;
  width: 120px;
  height: 60px;
  background: url(../images/appstore.png) no-repeat;
  background-size: 100%;
  margin: 20px 20px 0 0;
}
.belief .app-store a:nth-child(2) {
  display: inline-block;
  width: 120px;
  height: 60px;
  background: url(../images/googleplay.png) no-repeat;
  background-size: 100%;
}
.review {
  padding: 30px 50px;
  background-color: #00395b;
}
.review em {
  display: block;
  color: #fff;
}
.review-box {
  position: relative;
  display: inline-block;
  width: 28%;
  height: 190px;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0,0,0,.1);
  margin: 0 10px;
  padding: 20px;
}
.review-box .title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 10px;
}
.review-box .txt {
  font-size: 1.5rem;
  font-weight: 300;
  height: 86px;
  overflow: hidden;
}
.review-box .link {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* 인재채용 */
.together {
  padding: 70px 50px 100px;
  background-color: #eef7ff;
  margin: 30px auto;
  background-image: url(../images/hiring@2x.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.together h2 {
  font-size: 2rem;

}

/* footer */
.footer-bg {
  background: #262728;

}
.footer {
  padding: 20px 0;
}
.footer img {
  
}
.footer .footer-blog {
  display:inline-block;
}
.footer-blog li {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
}
.footer a {
  display:inline-block;
}
.copyright {
  display: block;
  color: #a3a7ae;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 20px;
}
.address {
  display: block;
  color: #a3a7ae;
  font-size: 1.2rem;
  font-weight: 300;
}


/* 은지 - 예약하기, 더 많은 서비스 견적내기 */
/* 헤더 영역 */
.header-reservation {
  position: relative;
  top: 0;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}
.header-reservation .logo {
  position: absolute;
  top: 20px;
  left: 60px;
}
/* 컨텐츠 영역 */
.main-reservation {
  /* height: 80vh; */
}
/* 예약하기 */
.content-reservation {
  text-align: center;
  padding: 130px 0;
}
.content-reservation h3 {
  color: #333;
  font-size: 2.4rem;
  font-weight: 300;
}
.content-reservation p {
  font-size: 1.7rem;
  font-weight: 100;
  padding: 60px 0 0px;
}
.content-reservation .group {
  padding-bottom: 40px;
  width: 460px;
  margin: 0 auto;
}
.content-reservation .group1 {
  border-bottom: 1px solid #e7e7e7;
}
.content-reservation .group2 {
  border-bottom: 1px solid #e7e7e7;
}
.content-reservation button {
  width: 460px;
  background: #055cf5;
  border: 1px solid #055cf5;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 400;
  padding: 12px 0;
  margin: 20px 0;
}
.content-reservation .date {
  border: 2px solid #055cf5;
  background: #fff;
  color: #055cf5;
}
.group .check {
  position: relative;
  color: #333;
  font-size: 1rem;
}
.group .check::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;
  width: 17px;
  height: 7px;
  border: 2px solid #055cf5;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
}
.notice-item {
  font-size: .85rem;
}
.notice-item .notice {
  font-size: .9rem;
  font-weight: 400;
  padding: 20px 0 10px;
}
.notice-item a {
  color: #055cf5;
  font-weight: 500;
  padding: 10px 0;
}
.group .next {
  border-radius: 30px;
  width: 150px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
  font-size: 14px;
  font-weight: 400;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label  {
  display: inline-block;
  width: 32%;
  color: #b3b3b3;
  text-align: center;
  font-size: 1.1rem;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  padding: 1.3rem 0;
  border-radius: 5px;
  font-weight: 400;
  background-position: center;
  margin: 20px 0;
}
.clock input[type="radio"] + label  {
  width: 49%;
}
input[type="radio"]:checked + label{
  background-color: #fff;
  color: #055cf5;
  border: 2px solid #055cf5;
}
input[type="radio"]:disabled {
  color: #b3b3b3;
  border-color: #b3b3b3;
  cursor:default;
}
/* 인증번호 */
.input-group {
  position: relative;
  top: 0;
  left: 0;
}
.input-group input {
  float: left;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #f2f2f2;
  color: inherit;
  width: 80%;
  font-size: 1rem;
  padding-left: 15px;
  outline: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  border: 0;
  line-height: 2.9rem;
}
.content-reservation .input-group .btn-phone {
  float: right;
  position: absolute;
  top: 30px;
  right: 0;
  width: 120px;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  margin: 0;
  z-index: 10;
}
/* 견적내기-폼 영역 */
.quote {
  text-align: left;
  margin: 0px 30px;
  padding: 30px 0;
}
.quote .title {
  position: relative;
  top: 0;
  left: 0;
}
.quote .title h3 {
  font-weight: 400;
}
.quote .title .img {
  position: absolute;
  top: 0px;
  right: 0;
}
.quote .review-item {
  color: #fece32;
  margin-top: 10px;
}
.quote .sub-text {
  color: #333;
  font-size: .9rem;
  line-height: 24px;
  font-weight: 400;
  padding: 30px 0 80px;
}
.editor-detail {
  position: relative;
  top: 0;
  left: 0;
}
.editor-detail .item label {
  display: block;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.editor-detail .item input, .editor-detail .item textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  color: inherit;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.editor-detail .item textarea {
  height: auto;
}
.btn-estimate {
  font-size: inherit;
  padding: 9px 15px;
  border-radius: 0;
  background-color: #3898EC;
  color: #fff;
  font-size: 14px;
}
/* 푸터 영역 */
.footer-bg-reservation {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}
.footer-reservation {
  padding: 30px 0;
  font-size: .7rem;
  position: absolute;
  top: 0px;
  left: 60px;
}
.footer-reservation .copyright {
  color: #333;
  line-height: 2rem;

}
.footer-reservation .address {
  color: #b3b3b3;
  display: inline;
}
.footer-reservation ul {
  display: inline-block;
}
.footer-reservation ul li {
  float: left;
  position: relative;
  top: 2px;
  margin: 0 3px;
  color: red !important;
}
.footer-reservation ul li a {
  color: #777;

}





/* 하은 - 더 많은 서비스 */
/* 헤더 */
.header-more {
  box-sizing: border-box;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 130px;
  padding: 30px 30px 30px 50px;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
}
.logo-more {
  float: left;
  margin: 0;
  line-height: 0;
  width: 90px;
  height: 70px;
}
.logo-more img{
  width: 100%;
  height: auto;
}
.home-menu{
  display: block;
  float: right;
  padding: 10px 20px;
  line-height: 50px;
  color: #055cf5;
  font-size: 11px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;;
  letter-spacing: 1px;
}


/* 비주얼 */
.main-more{
  margin: 130px 0 0 0;
}
.morepage-visual{
  height: 610px;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../images/more/visual.jpg);
  /* 백그라운드 명령어를 먼저 주고나서 백그라운드 속성들을 줘야한다. */
  background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../images/more/visual.jpg);
  background-color: #aaa;  
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; 
  overflow: hidden;
  /* 반응형때 이미지 위치가 잘 보이게 줄어들게 하려면 백그라운드 포지션으로 조절가능*/
}
.morepage-visual-title{
  /* 마진 오토 가운데 정렬은 width값을 안줘서 안됐었음 */
  display: block;
  /* padding: 180px auto 90px auto; ?? */
  margin: 180px auto 90px auto;
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 80px;
}

/* 메인 */
.morepage-list{
  width: 940px;
  margin: 0 auto;
}
/* 메뉴 */
.morepage-list-menu{
  margin: 0;
  padding: 35px 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.morepage-list-menu li{
  list-style: none;
  padding: 9px 30px 11px 30px;
  margin: 0;
  color: rgba(50, 52, 58, 0.5);
  font-weight: bold;
  color: #222222;
  font-size: 16px;
  line-height: 28px;
}
.morepage-list-menu li:hover{
  color:rgba(50, 52, 58, 0.5);
  border-bottom: 1px solid #222222;
  padding: 9px 30px 10px 30px;
}

/* 리스트 */
.morepage-list-items{
  padding: 0;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.morepage-list-items li{
  list-style: none;
}
.morepage-list-items li:last-child{
  margin-right: auto;
  margin-left: 20px;
}
.morepage-list-items img{
  display: block;
  width: 300px;
  height: 200px;
}
.morepage-list-items p{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #1a1b1f;
  line-height: 34px;
  font-weight: 400;
  padding: 16px 0 24px 0;
  margin: 0;
}
.morepage-list-items li:hover{
  opacity: 70%;
}
/* 푸터 */
.footer-more{
  margin: 0;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
.morepage-footer-adress{
  display: inline-block;
  opacity: 0.5;
  letter-spacing: -0.13px;
  color: #1a1b1f;
  line-height: 20px;
  font-size: 12.5px;
  font-style: normal;
  max-width: 450px;
}
.footer-more span{
  font-style: normal; 
}
.footer-more address span:nth-child(n+2)::before{
  content: "";
  background-color: rgba(26, 27, 31, 0.5);
  width: 1.3px;
  height: 12px;
  display: inline-block;
  vertical-align: -4%;
}
.morepage-footer-adress:hover{
  opacity: 100%;
}
.morepage-footer-adress address{
  display: inline;
}
.morepage-footer-link{
  padding: 30px 0;
  display: flex;
}
.morepage-footer-link a{
  padding: 0 20px;
  list-style: none;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  opacity: 0.6;
  width: 63px;
}
.morepage-footer-link a:hover{
  opacity: 100%;
}