/* 헤더 영역 */
.header {
  position: relative;
  top: 0;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}
.header .logo {
  position: absolute;
  top: 20px;
  left: 60px;
}
/* 컨텐츠 영역 */
.main {
  /* height: 80vh; */
}
/* 예약하기 */
.content {
  text-align: center;
  padding: 130px 0;
}
.content h3 {
  color: #333;
  font-size: 2.4rem;
  font-weight: 300;
}
.content p {
  font-size: 1.7rem;
  font-weight: 100;
  padding: 60px 0 0px;
}
.content .group {
  padding-bottom: 40px;
  width: 460px;
  margin: 0 auto;
}
.content .group1 {
  border-bottom: 1px solid #e7e7e7;
}
.content .group2 {
  border-bottom: 1px solid #e7e7e7;
}
.content button {
  width: 460px;
  background: #055cf5;
  border: 1px solid #055cf5;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 400;
  padding: 12px 0;
  margin: 20px 0;
}
.content .date {
  border: 2px solid #055cf5;
  background: #fff;
  color: #055cf5;
}
.group .check {
  position: relative;
  color: #333;
  font-size: 1rem;
}
.group .check::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;
  width: 17px;
  height: 7px;
  border: 2px solid #055cf5;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
}
.notice-item {
  font-size: .85rem;
}
.notice-item .notice {
  font-size: .9rem;
  font-weight: 400;
  padding: 20px 0 10px;
}
.notice-item a {
  color: #055cf5;
  font-weight: 500;
  padding: 10px 0;
}
.group .next {
  border-radius: 30px;
  width: 150px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
  font-size: 14px;
  font-weight: 400;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label  {
  display: inline-block;
  width: 32%;
  color: #b3b3b3;
  text-align: center;
  font-size: 1.1rem;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  padding: 1.3rem 0;
  border-radius: 5px;
  font-weight: 400;
  background-position: center;
  margin: 20px 0;
}
.clock input[type="radio"] + label  {
  width: 49%;
}
input[type="radio"]:checked + label{
  background-color: #fff;
  color: #055cf5;
  border: 2px solid #055cf5;
}
input[type="radio"]:disabled {
  color: #b3b3b3;
  border-color: #b3b3b3;
  cursor:default;
}
/* 인증번호 */
.input-group {
  position: relative;
  top: 0;
  left: 0;
}
.input-group input {
  float: left;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #f2f2f2;
  color: inherit;
  width: 80%;
  font-size: 1rem;
  padding-left: 15px;
  outline: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  border: 0;
  line-height: 2.9rem;
}
.content .input-group .btn-phone {
  float: right;
  position: absolute;
  top: 30px;
  right: 0;
  width: 120px;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  margin: 0;
  z-index: 10;
}
/* 견적내기-폼 영역 */
.quote {
  text-align: left;
  margin: 0px 30px;
  padding: 30px 0;
}
.quote .title {
  position: relative;
  top: 0;
  left: 0;
}
.quote .title h3 {
  font-weight: 400;
}
.quote .title .img {
  position: absolute;
  top: 0px;
  right: 0;
}
.quote .review-item {
  color: #fece32;
  margin-top: 10px;
}
.quote .sub-text {
  color: #333;
  font-size: .9rem;
  line-height: 24px;
  font-weight: 400;
  padding: 30px 0 80px;
}
.editor-detail {
  position: relative;
  top: 0;
  left: 0;
}
.editor-detail .item label {
  display: block;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.editor-detail .item input, .editor-detail .item textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  color: inherit;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.editor-detail .item textarea {
  height: auto;
}
.btn-estimate {
  font-size: inherit;
  padding: 9px 15px;
  border-radius: 0;
  background-color: #3898EC;
  color: #fff;
  font-size: 14px;
}
/* 푸터 영역 */
.footer-bg {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}
.footer {
  padding: 30px 0;
  font-size: .7rem;
  position: absolute;
  top: 0px;
  left: 60px;
}
.footer .copyright {
  color: #333;
  line-height: 2rem;

}
.footer .address {
  color: #b3b3b3;
  display: inline;
}
.footer ul {
  display: inline-block;
}
.footer ul li {
  float: left;
  position: relative;
  top: 2px;
  margin: 0 3px;
  color: red !important;
}
.footer ul li a {
  color: #777;

}

/* 메인 */
.header {

}